html {
  background-color: #ebd4f88b;
}

.loginComponentContainer {
  display: flex;
  background-color: #ebd4f88b;

  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* border: solid 2px black; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
}

.login-title {
  font-size: 62px;
  font-weight: bold;
  color: rgb(106, 22, 184);
  width: 30vw;
  min-width: 280px;
  margin: 0px;
}

.titleContainer {
  width: 45vw;
  height: max-content;
  justify-content: flex-start;
  align-items: start;
  gap: 0px;
}

.logIn-container {
  border: solid 2px rgba(0, 0, 0, 0.11);
  box-shadow: 2px 2px 10px 8px rgba(192, 191, 191, 0.571);
  border-radius: 8px;
  min-width: 450px;
  width: 35vw;
  height: 40vh;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-evenly;
}

.info {
  font-size: 24px;
  border-radius: 10px;
  width: 100%;
  line-height: 1.5em;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.877);
}

form {
  /* border: 1px solid black; */
  width: 85%;
  height: 45%;
  gap: 1em;
  justify-content: space-evenly;
}

input {
  height: 3em;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid rgba(211, 211, 211, 0.811);
  background-color: rgba(203, 203, 203, 0.209);
  border-radius: 10px;
}

.logIn-Btn {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgba(116, 32, 194, 0.757);
}
.logIn-Btn:hover {
  background-color: rgba(81, 22, 136, 0.757);
}

.brLine {
  width: 85%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.344);
}

.signUp-Btn {
  width: 50%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  /* border: 2px solid black; */
  border-radius: 10px;
  color: white;
  background-color: #48bb8d;
}
.signUp-Btn:hover {
  background-color: #3ea179;
}
