.profileComponentContainer {
  margin: 0;
  background-color: #ebd4f88b;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* border: solid 2px black; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.usersList {
  flex-direction: row;
  gap: 1em;
}

.findConnectionsBox {
  justify-content: center;
  text-align: center;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px rgb(106, 22, 184);
  border-radius: 8px;
  color: rgb(106, 22, 184);
  background-color: #ebd4f88b;
  text-align: center;
  width: 90vw;
  height: 60px;
  min-width: 380px;
}

.profileTitle {
  font-size: 40px;
  margin: auto;
}

.messageBox {
  /* border: solid 1px black; */
  background-color: #d4f8e78b;
  box-shadow: 1px 3px 5px 3px #6488778b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 20vw;
  min-width: 275px;
  height: 55px;
}

.welcomeMessage {
  /* border: solid 1px black; */
  border-radius: 5px;
  text-align: center;
}

.HubList {
  /* border: 2px solid black; */
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 50vw;
  height: 250px;
}

.hub {
  width: 100px;
  height: 100px;
  border: solid 1px green;
  background-color: #d4f8e78b;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.hub:hover {
  background-color: rgba(84, 132, 109, 0.833);
}

.hubName {
  text-align: center;
}
