html {
  background-color: #d4f8e78b;
}

.signinComponentContainer {
  display: flex;
  background-color: #d4f8e78b;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 2em;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
}

.signin-title {
  font-size: 62px;
  font-weight: bold;
  color: rgb(106, 22, 184);
  width: 30vw;
  min-width: 280px;
  margin: 0px;
  text-align: center;
}

.titleContainer {
  width: 35vw;
  min-width: 600px;
  height: max-content;
  justify-content: flex-start;
  align-items: center;
  margin-top: -200px;
  /* border: solid 2px rgba(0, 0, 0, 0.11); */
  gap: 0px;
}

.signUp-container {
  border: solid 2px rgba(0, 0, 0, 0.11);
  box-shadow: 2px 2px 10px 8px rgba(192, 191, 191, 0.571);
  border-radius: 8px;
  min-width: 600px;
  width: 35vw;
  height: 30vh;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-evenly;
}

.info {
  font-size: 24px;
  border-radius: 10px;
  width: 100%;
  line-height: 1.5em;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.877);
}

form {
  width: 85%;
  height: 75%;
  gap: 1em;
  justify-content: space-evenly;
}

input {
  height: 3em;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid rgba(211, 211, 211, 0.811);
  background-color: rgba(203, 203, 203, 0.209);
  border-radius: 10px;
}

.logIn-Btn {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgba(116, 32, 194, 0.757);
}
.logIn-Btn:hover {
  background-color: rgba(81, 22, 136, 0.757);
}
